USE [BDReportesDemo]
GO
/****** Object:  Table [dbo].[Compañia]    Script Date: 18/03/2026 10:03:05 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compañia](
	[IIDCOMPANIA] [int] IDENTITY(1,1) NOT NULL,
	[PERSONAAFACTURAR] [varchar](100) NULL,
	[NOMBRECOMPAÑIA] [varchar](100) NULL,
	[DIRECCION] [varchar](300) NULL,
	[CIUDAD] [varchar](100) NULL,
	[ESTADO] [varchar](100) NULL,
	[CODIGOPOSTAL] [varchar](100) NULL,
	[TELEFONO] [varchar](15) NULL,
	[BHABILITADO] [int] NULL,
 CONSTRAINT [PK_Compañia] PRIMARY KEY CLUSTERED 
(
	[IIDCOMPANIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleFactura]    Script Date: 18/03/2026 10:03:05 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleFactura](
	[IIDDETALLEFACTURA] [int] IDENTITY(1,1) NOT NULL,
	[IIDFACTURA] [int] NULL,
	[IIDPRODUCTO] [int] NULL,
	[PRECIO] [decimal](18, 2) NULL,
	[BHABILITADO] [int] NULL,
 CONSTRAINT [PK_DetalleFacturas] PRIMARY KEY CLUSTERED 
(
	[IIDDETALLEFACTURA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dia]    Script Date: 18/03/2026 10:03:05 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dia](
	[IIDDIA] [int] IDENTITY(1,1) NOT NULL,
	[NOMBREDIA] [varchar](100) NULL,
	[BHABILITADO] [int] NULL,
 CONSTRAINT [PK_Dia] PRIMARY KEY CLUSTERED 
(
	[IIDDIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EnfermedadesIntervencionesPersona]    Script Date: 18/03/2026 10:03:05 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EnfermedadesIntervencionesPersona](
	[IIDENFERMEDADESINTERVENCIONES] [int] IDENTITY(1,1) NOT NULL,
	[IIDPERSONA] [int] NULL,
	[DESCRIPCION] [varchar](100) NULL,
	[BHABILITADO] [int] NULL,
 CONSTRAINT [PK_EnfermedadesIntervenciones] PRIMARY KEY CLUSTERED 
(
	[IIDENFERMEDADESINTERVENCIONES] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExpedienteVacunacion]    Script Date: 18/03/2026 10:03:05 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExpedienteVacunacion](
	[IIDEXPEDIENTEVACUNACION] [int] IDENTITY(1,1) NOT NULL,
	[IIDPERSONA] [int] NULL,
	[FECHAVACUNACION] [date] NULL,
	[DIABETES] [int] NULL,
	[HIPERTENCION] [int] NULL,
	[OTROPADECIMIENTO] [varchar](100) NULL,
	[IIDMARCAVACUNA] [int] NULL,
	[NUMERODOSIS] [int] NULL,
	[LOTEVACUNA] [int] NULL,
	[BHABILITADO] [int] NULL,
	[EDAD] [int] NULL,
 CONSTRAINT [PK_ExpedienteVacunacion] PRIMARY KEY CLUSTERED 
(
	[IIDEXPEDIENTEVACUNACION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Factura]    Script Date: 18/03/2026 10:03:05 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Factura](
	[IIDFACTURA] [int] IDENTITY(1,1) NOT NULL,
	[IIDCOMPANIA] [int] NULL,
	[NUMEROFACTURA] [int] NULL,
	[SUBTOTALFACTURA] [decimal](18, 2) NULL,
	[IMPUESTO] [decimal](18, 2) NULL,
	[OTRO] [decimal](18, 2) NULL,
	[TOTAL] [decimal](18, 2) NULL,
	[BHABILITADO] [int] NULL,
 CONSTRAINT [PK_Facturas] PRIMARY KEY CLUSTERED 
(
	[IIDFACTURA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FichaMedica]    Script Date: 18/03/2026 10:03:05 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FichaMedica](
	[IIDFICHAMEDICA] [int] IDENTITY(1,1) NOT NULL,
	[IIDPERSONA] [int] NULL,
	[IIDSISTEMASALUD] [int] NULL,
	[NOMBRESISTEMASALUD] [varchar](100) NULL,
	[MEDICOATIENDE] [varchar](100) NULL,
	[IIDTIPOALERGIA] [int] NULL,
	[DESCRIPCIONALERGIA] [varchar](100) NULL,
	[IIDGRUPOSANGUINEO] [int] NULL,
	[ENFERMEDADCRONICA] [varchar](100) NULL,
 CONSTRAINT [PK_FichaMedica] PRIMARY KEY CLUSTERED 
(
	[IIDFICHAMEDICA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GrupoSanguineo]    Script Date: 18/03/2026 10:03:05 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GrupoSanguineo](
	[IIDGRUPOSANGUINEO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRESANGUINEO] [varchar](100) NULL,
	[BHABILITADO] [int] NULL,
 CONSTRAINT [PK_GrupoSanguineo] PRIMARY KEY CLUSTERED 
(
	[IIDGRUPOSANGUINEO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hora]    Script Date: 18/03/2026 10:03:05 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hora](
	[IIDHORA] [int] IDENTITY(1,1) NOT NULL,
	[HORA] [varchar](20) NULL,
	[BHABILITADO] [int] NULL,
 CONSTRAINT [PK_Horass] PRIMARY KEY CLUSTERED 
(
	[IIDHORA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoraDiaActividadPersona]    Script Date: 18/03/2026 10:03:05 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoraDiaActividadPersona](
	[IIDHORADIAACTIVIDADPERSONA] [int] IDENTITY(1,1) NOT NULL,
	[IIDDIA] [int] NULL,
	[IIDHORA] [int] NULL,
	[NOMBREACTIVIDAD] [varchar](150) NULL,
	[IIDPERSONA] [int] NULL,
	[BHABILITADO] [int] NULL,
 CONSTRAINT [PK_HoraDiaActividadPersona] PRIMARY KEY CLUSTERED 
(
	[IIDHORADIAACTIVIDADPERSONA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MarcaVacuna]    Script Date: 18/03/2026 10:03:05 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MarcaVacuna](
	[IIDMARCAVACUNA] [int] IDENTITY(1,1) NOT NULL,
	[NOMBREMARCA] [varchar](100) NULL,
	[BHABILITADO] [int] NULL,
 CONSTRAINT [PK_MarcaVacuna] PRIMARY KEY CLUSTERED 
(
	[IIDMARCAVACUNA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedicamentoConsumoPersona]    Script Date: 18/03/2026 10:03:05 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicamentoConsumoPersona](
	[IIDMEDICAMENTOCONSUMOPERSONA] [int] IDENTITY(1,1) NOT NULL,
	[IIDPERSONA] [int] NULL,
	[DESCRIPCION] [varchar](150) NULL,
	[BHABILITADO] [int] NULL,
 CONSTRAINT [PK_MedicamentoConsumoPersona] PRIMARY KEY CLUSTERED 
(
	[IIDMEDICAMENTOCONSUMOPERSONA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedicoTelefonoPersona]    Script Date: 18/03/2026 10:03:05 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicoTelefonoPersona](
	[IIDMEDICOTELEFONO] [int] IDENTITY(1,1) NOT NULL,
	[IIDPERSONA] [int] NULL,
	[NUMEROTELEFONICOMEDICO] [varchar](15) NULL,
	[BHABILITADO] [int] NULL,
 CONSTRAINT [PK_MedicoTelefonoPersona] PRIMARY KEY CLUSTERED 
(
	[IIDMEDICOTELEFONO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ObservacionesPersona]    Script Date: 18/03/2026 10:03:05 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ObservacionesPersona](
	[IIDOBSERVACIONESPERSONA] [int] IDENTITY(1,1) NOT NULL,
	[IIDPERSONA] [int] NULL,
	[DESCRIPCION] [varchar](100) NULL,
	[BHABILITADO] [int] NULL,
 CONSTRAINT [PK_ObservacionesPersona] PRIMARY KEY CLUSTERED 
(
	[IIDOBSERVACIONESPERSONA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Persona]    Script Date: 18/03/2026 10:03:05 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persona](
	[IIDPERSONA] [int] IDENTITY(1,1) NOT NULL,
	[NUMEROIDENTIFICACION] [varchar](20) NULL,
	[NOMBRE] [varchar](100) NULL,
	[APPATERNO] [varchar](100) NULL,
	[APMATERNO] [varchar](100) NULL,
	[IIDSEXO] [int] NULL,
	[CORREO] [varchar](100) NULL,
	[TELEFONOOCELULAR1] [varchar](15) NULL,
	[TELEFONOOCELULAR2] [varchar](15) NULL,
	[CALLE] [varchar](50) NULL,
	[NEXTERIOR] [varchar](25) NULL,
	[NINTERIOR] [varchar](25) NULL,
	[COLONIA] [varchar](25) NULL,
	[CP] [varchar](25) NULL,
	[MUNICIPIOPAIS] [varchar](50) NULL,
	[ESTADOPAIS] [varchar](50) NOT NULL,
	[IIDTIPODOCUMENTO] [int] NULL,
	[NUMEROREGISTROUNICOCONTRIBUYENTE] [varchar](30) NULL,
	[NOMBREFOTO] [varchar](50) NULL,
	[BHABILITADO] [int] NULL,
 CONSTRAINT [PK_Persona] PRIMARY KEY CLUSTERED 
(
	[IIDPERSONA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 18/03/2026 10:03:05 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[IIDPRODUCTO] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](150) NULL,
	[PRECIO] [decimal](18, 2) NULL,
	[BHABILITADO] [int] NULL,
 CONSTRAINT [PK_Producto] PRIMARY KEY CLUSTERED 
(
	[IIDPRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sexo]    Script Date: 18/03/2026 10:03:05 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sexo](
	[IIDSEXO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](100) NULL,
	[BHABILITADO] [int] NULL,
 CONSTRAINT [PK_Sexo] PRIMARY KEY CLUSTERED 
(
	[IIDSEXO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SistemaSalud]    Script Date: 18/03/2026 10:03:05 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SistemaSalud](
	[IIDSISTEMASALUD] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](100) NULL,
	[BHABILITADO] [int] NULL,
 CONSTRAINT [PK_SistemaSalud] PRIMARY KEY CLUSTERED 
(
	[IIDSISTEMASALUD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoAlergia]    Script Date: 18/03/2026 10:03:05 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoAlergia](
	[IIDTIPOALERGIA] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRETIPOALERGIA] [varchar](50) NULL,
	[BHABILITADO] [nchar](10) NULL,
 CONSTRAINT [PK_TipoAlergia] PRIMARY KEY CLUSTERED 
(
	[IIDTIPOALERGIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoDocumentoIdentificacion]    Script Date: 18/03/2026 10:03:05 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoDocumentoIdentificacion](
	[IIDTIPODOCUMENTO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](100) NULL,
	[BHABILITADO] [int] NULL,
 CONSTRAINT [PK_TipoDocumentoIdentificacion] PRIMARY KEY CLUSTERED 
(
	[IIDTIPODOCUMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TratamientoMedicoPersona]    Script Date: 18/03/2026 10:03:05 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TratamientoMedicoPersona](
	[IIDTRATAMIENTOMEDICOPERSONA] [int] IDENTITY(1,1) NOT NULL,
	[IIDPERSONA] [int] NULL,
	[DESCRIPCION] [varchar](100) NULL,
	[BHABILITADO] [int] NULL,
 CONSTRAINT [PK_TratamientoMedicoPersona] PRIMARY KEY CLUSTERED 
(
	[IIDTRATAMIENTOMEDICOPERSONA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 18/03/2026 10:03:05 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IIDPERSONA] [int] NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[IIDPERSONA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DetalleFactura]  WITH CHECK ADD  CONSTRAINT [FK_DetalleFacturas_Factura] FOREIGN KEY([IIDFACTURA])
REFERENCES [dbo].[Factura] ([IIDFACTURA])
GO
ALTER TABLE [dbo].[DetalleFactura] CHECK CONSTRAINT [FK_DetalleFacturas_Factura]
GO
ALTER TABLE [dbo].[DetalleFactura]  WITH CHECK ADD  CONSTRAINT [FK_DetalleFacturas_Producto] FOREIGN KEY([IIDPRODUCTO])
REFERENCES [dbo].[Producto] ([IIDPRODUCTO])
GO
ALTER TABLE [dbo].[DetalleFactura] CHECK CONSTRAINT [FK_DetalleFacturas_Producto]
GO
ALTER TABLE [dbo].[EnfermedadesIntervencionesPersona]  WITH CHECK ADD  CONSTRAINT [FK_EnfermedadesIntervencionesPersona_EnfermedadesIntervencionesPersona] FOREIGN KEY([IIDPERSONA])
REFERENCES [dbo].[Persona] ([IIDPERSONA])
GO
ALTER TABLE [dbo].[EnfermedadesIntervencionesPersona] CHECK CONSTRAINT [FK_EnfermedadesIntervencionesPersona_EnfermedadesIntervencionesPersona]
GO
ALTER TABLE [dbo].[ExpedienteVacunacion]  WITH CHECK ADD  CONSTRAINT [FK_ExpedienteVacunacion_MarcaVacuna] FOREIGN KEY([IIDMARCAVACUNA])
REFERENCES [dbo].[MarcaVacuna] ([IIDMARCAVACUNA])
GO
ALTER TABLE [dbo].[ExpedienteVacunacion] CHECK CONSTRAINT [FK_ExpedienteVacunacion_MarcaVacuna]
GO
ALTER TABLE [dbo].[ExpedienteVacunacion]  WITH CHECK ADD  CONSTRAINT [FK_ExpedienteVacunacion_Persona] FOREIGN KEY([IIDPERSONA])
REFERENCES [dbo].[Persona] ([IIDPERSONA])
GO
ALTER TABLE [dbo].[ExpedienteVacunacion] CHECK CONSTRAINT [FK_ExpedienteVacunacion_Persona]
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD  CONSTRAINT [FK_Facturas_Compañia] FOREIGN KEY([IIDCOMPANIA])
REFERENCES [dbo].[Compañia] ([IIDCOMPANIA])
GO
ALTER TABLE [dbo].[Factura] CHECK CONSTRAINT [FK_Facturas_Compañia]
GO
ALTER TABLE [dbo].[FichaMedica]  WITH CHECK ADD  CONSTRAINT [FK_FichaMedica_GrupoSanguineo] FOREIGN KEY([IIDGRUPOSANGUINEO])
REFERENCES [dbo].[GrupoSanguineo] ([IIDGRUPOSANGUINEO])
GO
ALTER TABLE [dbo].[FichaMedica] CHECK CONSTRAINT [FK_FichaMedica_GrupoSanguineo]
GO
ALTER TABLE [dbo].[FichaMedica]  WITH CHECK ADD  CONSTRAINT [FK_FichaMedica_Persona] FOREIGN KEY([IIDPERSONA])
REFERENCES [dbo].[Persona] ([IIDPERSONA])
GO
ALTER TABLE [dbo].[FichaMedica] CHECK CONSTRAINT [FK_FichaMedica_Persona]
GO
ALTER TABLE [dbo].[FichaMedica]  WITH CHECK ADD  CONSTRAINT [FK_FichaMedica_SistemaSalud] FOREIGN KEY([IIDSISTEMASALUD])
REFERENCES [dbo].[SistemaSalud] ([IIDSISTEMASALUD])
GO
ALTER TABLE [dbo].[FichaMedica] CHECK CONSTRAINT [FK_FichaMedica_SistemaSalud]
GO
ALTER TABLE [dbo].[FichaMedica]  WITH CHECK ADD  CONSTRAINT [FK_FichaMedica_TipoAlergia] FOREIGN KEY([IIDTIPOALERGIA])
REFERENCES [dbo].[TipoAlergia] ([IIDTIPOALERGIA])
GO
ALTER TABLE [dbo].[FichaMedica] CHECK CONSTRAINT [FK_FichaMedica_TipoAlergia]
GO
ALTER TABLE [dbo].[HoraDiaActividadPersona]  WITH CHECK ADD  CONSTRAINT [FK_HoraDiaActividadPersona_Dia] FOREIGN KEY([IIDDIA])
REFERENCES [dbo].[Dia] ([IIDDIA])
GO
ALTER TABLE [dbo].[HoraDiaActividadPersona] CHECK CONSTRAINT [FK_HoraDiaActividadPersona_Dia]
GO
ALTER TABLE [dbo].[HoraDiaActividadPersona]  WITH CHECK ADD  CONSTRAINT [FK_HoraDiaActividadPersona_Hora] FOREIGN KEY([IIDHORA])
REFERENCES [dbo].[Hora] ([IIDHORA])
GO
ALTER TABLE [dbo].[HoraDiaActividadPersona] CHECK CONSTRAINT [FK_HoraDiaActividadPersona_Hora]
GO
ALTER TABLE [dbo].[HoraDiaActividadPersona]  WITH CHECK ADD  CONSTRAINT [FK_HoraDiaActividadPersona_Persona] FOREIGN KEY([IIDPERSONA])
REFERENCES [dbo].[Persona] ([IIDPERSONA])
GO
ALTER TABLE [dbo].[HoraDiaActividadPersona] CHECK CONSTRAINT [FK_HoraDiaActividadPersona_Persona]
GO
ALTER TABLE [dbo].[MedicamentoConsumoPersona]  WITH CHECK ADD  CONSTRAINT [FK_MedicamentoConsumoPersona_Persona] FOREIGN KEY([IIDPERSONA])
REFERENCES [dbo].[Persona] ([IIDPERSONA])
GO
ALTER TABLE [dbo].[MedicamentoConsumoPersona] CHECK CONSTRAINT [FK_MedicamentoConsumoPersona_Persona]
GO
ALTER TABLE [dbo].[MedicoTelefonoPersona]  WITH CHECK ADD  CONSTRAINT [FK_MedicoTelefonoPersona_Persona] FOREIGN KEY([IIDPERSONA])
REFERENCES [dbo].[Persona] ([IIDPERSONA])
GO
ALTER TABLE [dbo].[MedicoTelefonoPersona] CHECK CONSTRAINT [FK_MedicoTelefonoPersona_Persona]
GO
ALTER TABLE [dbo].[ObservacionesPersona]  WITH CHECK ADD  CONSTRAINT [FK_ObservacionesPersona_Persona] FOREIGN KEY([IIDPERSONA])
REFERENCES [dbo].[Persona] ([IIDPERSONA])
GO
ALTER TABLE [dbo].[ObservacionesPersona] CHECK CONSTRAINT [FK_ObservacionesPersona_Persona]
GO
ALTER TABLE [dbo].[Persona]  WITH CHECK ADD  CONSTRAINT [FK_Persona_Sexo] FOREIGN KEY([IIDTIPODOCUMENTO])
REFERENCES [dbo].[TipoDocumentoIdentificacion] ([IIDTIPODOCUMENTO])
GO
ALTER TABLE [dbo].[Persona] CHECK CONSTRAINT [FK_Persona_Sexo]
GO
ALTER TABLE [dbo].[Persona]  WITH CHECK ADD  CONSTRAINT [FK_Persona_Sexo1] FOREIGN KEY([IIDSEXO])
REFERENCES [dbo].[Sexo] ([IIDSEXO])
GO
ALTER TABLE [dbo].[Persona] CHECK CONSTRAINT [FK_Persona_Sexo1]
GO
ALTER TABLE [dbo].[TratamientoMedicoPersona]  WITH CHECK ADD  CONSTRAINT [FK_TratamientoMedicoPersona_Persona] FOREIGN KEY([IIDPERSONA])
REFERENCES [dbo].[Persona] ([IIDPERSONA])
GO
ALTER TABLE [dbo].[TratamientoMedicoPersona] CHECK CONSTRAINT [FK_TratamientoMedicoPersona_Persona]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Persona] FOREIGN KEY([IIDPERSONA])
REFERENCES [dbo].[Persona] ([IIDPERSONA])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Persona]
GO
