@model ReportesMVC.Models.Persona

@{
    ViewData["Title"] = "Editar Mis Datos";
}

<h2>Editar Mis Datos</h2>

<form asp-action="Edit" method="post">

    <input type="hidden" asp-for="Iidpersona" />

    <div class="mb-2">
        <label asp-for="Nombre" class="form-label"></label>
        <input asp-for="Nombre" class="form-control" />
    </div>

    <div class="mb-2">
        <label asp-for="Appaterno" class="form-label"></label>
        <input asp-for="Appaterno" class="form-control" />
    </div>

    <div class="mb-2">
        <label asp-for="Apmaterno" class="form-label"></label>
        <input asp-for="Apmaterno" class="form-control" />
    </div>

    <div class="mb-2">
        <label asp-for="Iidsexo" class="form-label"></label>
        <select asp-for="Iidsexo"
                asp-items="ViewBag.ListaSexo"
                class="form-control">
            <option value="">Seleccione Genero</option>
        </select>
        <span asp-validation-for="Iidsexo" class="text-danger"></span>
    </div>

    <div class="mb-2">
        <label asp-for="Correo" class="form-label"></label>
        <input asp-for="Correo" class="form-control" />
    </div>

    <div class="mb-2">
        <label asp-for="Telefonoocelular1" class="form-label"></label>
        <input asp-for="Telefonoocelular1" class="form-control" />
    </div>

    <div class="mb-2">
        <label asp-for="Iidtipodocumento" class="form-label"></label>
        <input asp-for="Iidtipodocumento" class="form-control" />
    </div>

    <div class="mb-2">
        <label asp-for="Numeroidentificacion" class="form-label"></label>
        <input asp-for="Numeroidentificacion" class="form-control" />
    </div>

    <!-- <input type="hidden" asp-for="Estadopais" /> -->

    <div class="mt-3">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a asp-action="Grid"
           asp-route-usuarioId="@Model.Iidpersona"
           class="btn btn-secondary">
            Cancelar
        </a>
    </div>

</form>